.footer {
  background-color: var(--bg-footer);
}

.footer__top {
  border-bottom: 1px solid var(--border-color);
  height: 50%;
  align-items: center;
}

.footer__top--text {
  line-height: 100%;
}

.footer__bottom {
  justify-content: space-between;
}

.footer__list {
  display: flex;
  gap: 20px;
}

.footer__part {
  display: flex;
  padding: 20px 30px;
}
